<!DOCTYPE html>

<!--
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>

	<title>Chatube</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>
	<header class="homebanner">

			<h1 class="homebannertext">
				<img src="img/chatsmalllogo.png" alt="chatlogo" id="chatsmalllogo" />
				<a href="" id="logo">ChatTube</a>
			</h1>

	</header>

	<section>

		<div class="profileSection">
			<br/><br/>
			<h1><%=user.username %> Profile</h1>
			<br/>
			<br/>
			<form action="/profile" method="post">
				<input type="text" name="email" class="profileField" placeholder="E-mail" value="<%=user.email%>" required="">
				<input type="text" name="username" class="profileField" placeholder="Username" value="<%=user.username%>" required="">
				<input type="password" name="password" class="profileField" placeholder="Password" value="<%=user.password%>" required="">

				<input type="password" name="newpassword" class="profileField" placeholder="New Password" required="">
				<input type="password" name="newpasswordConf" class="profileField" placeholder="Confirm New Password" required="">
				<div class="tp">
					<input type="submit" class="yourEnter" value="Save">
				</div>
			</form>
			<br/>
			<br/>
			<br/>
			<hr class="profilehr"></hr>
			<h1> Friends</h1>
			<br/>
			<br/>
			<table>

				<% for(var i=0; i < user.friends.length; i++) { %>
				   <tr>
				     <td><%= user.friends[i].username %></td>
				   </tr>
				<% } %>
			</table>

			<form action="/friend" method="post">
				<input type="text" name="friendEmail" class="profileField" placeholder="friend's E-mail" required="">
				<div class="tp">
					<input type="submit" class="yourEnter" value="Add">
				</div>
			</form>
			<br/>
			<br/>
			<form action="/chat">
					<input type="submit" class="yourEnter" value="Back" >
			</form>
		</div>
	</section>


</body>
</html>
